<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla rerum in eligendi. Ratione saepe temporibus porro adipisci quisquam maxime at ducimus iure a id quas eveniet, iste sapiente aspernatur.</p>
    </header>
  </section>
  <section class="block block--dark block--skewed-left">
      <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla rerum in eligendi. Ratione saepe temporibus porro adipisci quisquam maxime at ducimus iure a id quas eveniet, iste sapiente aspernatur.</p>
      </div>
  </section>