<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    </header>
    <div class="collapsible__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos adipisci a error ut pariatur nobis, dicta molestias soluta hic placeat facere mollitia repudiandae aliquam natus ullam. Odio in fugit repudiandae.</div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    </header>
    <div class="collapsible__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos adipisci a error ut pariatur nobis, dicta molestias soluta hic placeat facere mollitia repudiandae aliquam natus ullam. Odio in fugit repudiandae.</div>
  </div>