<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum qui natus impedit dolor laboriosam, magnam esse, iste corporis minima delectus quam, ipsam corrupti fuga dolores facere laborum iusto accusantium voluptatibus!</p>
    </div>
  </div>